{% extends "base.html" %}
{% block content %}

<h1>Add a New Recipe</h1>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-12">
            <form class="card bg-light" method="POST" enctype="multipart/form-data" action="{{ url_for('recipes.add_recipe') }}">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    <label for="title">Recipe Name :</label>
                    {{ form.title(class="form-control") }}
                </div>
                <div class="form-group">
                    <label for="description">Recipe Description :</label>
                    {{ form.description(class="form-control") }}
                </div>
                <div class="form-group">
                    <label for="category">Category :</label>
                    {{ form.category(class="form-control") }}
                </div>
                <div class="form-group">
                    <label for="ingredients">Ingredients :</label>
                    {{ form.ingredients(class="form-control") }}
                </div>
                <div class="form-group">
                    <label for="instructions">Instructions :</label>
                    {{ form.instructions(class="form-control") }}
                </div>
                <div class="form-group">
                    <label for="image">Upload Image:</label>
                    <input type="file" class="form-control" name="image">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
