{% extends "base.html" %}
{% block content %}
<div class="recipe-page">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h1 class="text-center mb-4">Edit Recipe</h1>
        <form
          class="card p-4 shadow-sm bg-light"
          method="POST"
          enctype="multipart/form-data"
          action="{{ url_for('recipes.edit_recipe', recipe_id=recipe._id|string) }}"
          aria-label="Edit your recipe"
        >
          {{ form.hidden_tag() }}
          <div class="form-group">
            <label for="recipe_name">Recipe Name :</label>
            <input
              type="text"
              class="form-control"
              id="recipe_name"
              name="title"
              value="{{ recipe.title }}"
              required
              aria-describedby="recipeNameHelp"
            />
            <small id="recipeNameHelp" class="form-text text-muted"
              >Provide a catchy name for your recipe.</small
            >
          </div>
          <div class="form-group">
            <label for="description">Description :</label>
            <textarea
              class="form-control"
              id="description"
              rows="2"
              name="description"
              required
              aria-describedby="descriptionHelp"
            >{{ recipe.description }}</textarea>
            <small id="descriptionHelp" class="form-text text-muted"
              >Write a brief description of what makes this recipe special.</small
            >
          </div>
          <div class="form-group">
            <label for="category">Category :</label>
            <select
              class="form-control"
              id="category"
              name="category"
              aria-describedby="categoryHelp"
            >
              {% for category_id, category_name in form.category.choices %}
              <option
                value="{{ category_id }}"
                {% if recipe.category_id==category_id %}selected{% endif %}
                >{{ category_name }}</option
              >
              {% endfor %}
            </select>
            <small id="categoryHelp" class="form-text text-muted"
              >Select a category that best describes your recipe.</small
            >
          </div>
          <div class="form-group">
            <label for="ingredients">Ingredients :</label>
            <textarea
              class="form-control"
              id="ingredients"
              rows="3"
              name="ingredients"
              required
              aria-describedby="ingredientsHelp"
            >{{ recipe.ingredients }}</textarea>
            <small id="ingredientsHelp" class="form-text text-muted"
              >Enter each ingredient on a new line.</small
            >
          </div>
          <div class="form-group">
            <label for="instructions">Preparation Instructions :</label>
            <textarea
              class="form-control"
              id="instructions"
              rows="3"
              name="instructions"
              required
              aria-describedby="instructionsHelp"
            >{{ recipe.instructions }}</textarea>
            <small id="instructionsHelp" class="form-text text-muted"
              >Provide detailed steps for preparing the recipe.</small
            >
          </div>
          <div class="form-group">
            <label for="image">Upload Image (optional):</label>
            <input
              type="file"
              class="form-control"
              id="image"
              name="image"
              aria-describedby="imageHelp"
            />
            <small id="imageHelp" class="form-text text-muted"
              >Optional: Add an image to showcase your recipe.</small
            >
          </div>
          <div class="form-group form-check">
            <input
              type="checkbox"
              class="form-check-input"
              id="remove_image"
              name="remove_image"
              aria-describedby="removeImageHelp"
            />
            <label class="form-check-label" for="remove_image"
              >Remove Existing Image</label
            >
            <small id="removeImageHelp" class="form-text text-muted"
              >Check this box to remove the current image.</small
            >
          </div>
          <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
