{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <!-- Header and Add New Recipe Button -->
    <div class="d-flex justify-content-between align-items-center mb-4 p-3 rounded shadow-sm header-section">
        <h1>Recipes</h1>
        <a href="{{ url_for('recipes.add_recipe') }}" class="btn btn-primary">Add New Recipe</a>
    </div>
    <!-- Filter and Search Section -->
    <div class="row justify-content-center mb-4">
        <!-- Filter by Category Dropdown -->
        <div class="col-12 col-lg-3 col-md-4 mb-3 mb-md-0">
            <div class="card p-3 shadow-sm border-0">
                <h5 class="mb-2 d-none d-md-block">Filter by Category</h5>
                <button class="btn btn-primary d-md-none mb-2 p-2" type="button" data-toggle="collapse" data-target="#filterDropdown" aria-expanded="false" aria-controls="filterDropdown">
                    <i class="fa-solid fa-filter"></i>
                </button>
                <div class="collapse d-md-block w-100" id="filterDropdown">
                    <form id="filterForm">
                        <select class="form-control mb-2" id="categoryFilter">
                            <option value="">All Categories</option>
                            {% for category_id, category_name in categories %}
                            <option value="{{ category_id }}">{{ category_name }}</option>
                            {% endfor %}
                        </select>
                        <button class="btn btn-primary w-100" type="submit">Filter</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- Search Bar -->
        <div class="col-12 col-md-8">
            <div class="card p-3 shadow-sm border-0">
                <form id="searchForm">
                    <div class="input-group">
                        <input class="form-control" id="search" type="search" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- No Results Message -->
    <div class="row">
        <div class="col-12">
            <h4 class="text-danger mt-5 text-center" id="not-found" style="display: none;">No Results! Please try a different phrase.</h4>
        </div>
    </div>
    <!-- Recipes Listing -->
    <div class="row" id="recipeList">
        {% for recipe in recipes %}
        <div class="col-lg-4 col-md-6 mb-4 recipe-item" data-category="{{ recipe.category_id }}">
            <div class="card recipe-card shadow-sm border-0">
                {% if recipe.image_path %}
                <img src="{{ url_for('static', filename=recipe.image_path) }}" class="card-img-top" alt="{{ recipe.title }}">
                {% else %}
                <img src="{{ url_for('static', filename='images/default_recipe_image.jpg') }}" class="card-img-top" alt="{{ recipe.title }}">
                {% endif %}
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">
                        <a href="{{ url_for('recipes.view_recipe', recipe_id=recipe._id|string) }}" class="recipe-name text-dark">{{ recipe.title }}</a>
                    </h5>
                    <p class="card-text"><strong>Category:</strong> <span class="recipe-category">{{ recipe.category_name }}</span></p>
                    <p class="card-text recipe-description">{{ recipe.description }}</p>
                    <div class="mt-auto d-flex justify-content-between">
                        <a href="{{ url_for('recipes.view_recipe', recipe_id=recipe._id|string) }}" class="btn btn-light btn-sm">Read</a>
                        {% if current_user.is_authenticated and current_user.get_id() == recipe.created_by|string %}
                        <a href="{{ url_for('recipes.edit_recipe', recipe_id=recipe._id|string) }}" class="btn btn-warning btn-sm">Edit</a>
                        <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#delete-modal" data-item-id="{{ recipe._id|string }}" data-item-type="recipe">Delete</button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- Modal -->
    <div class="modal fade" id="delete-modal" tabindex="-1" aria-labelledby="delete-modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">WARNING</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you wish to delete this <span id="item-type"></span>?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" id="confirm-delete-btn">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}